.grid {
    height: 500px;
    width: 500px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.turn-highlight{
    color: white;
}

.win{
    color: white;
}

.reset{
    padding: 1rem;
    color: white;
    background-color: green;
    border-radius: 10px;
    border: none;
    width: 500px;
}